<p style="position:absolute;top:0px;left:0px;opacity:0.5;z-index:99">V2.8</p>
<img class="background" draggable="false" src="./assets/images/{{background}}.png"/>


<!--<connection-->
<div class="connection" *ngIf="page=='connect'">
  
  <div class="popup tinydiv">
    <div class="noflex">
      <p>Nom de compte :</p>
      <input id="connect-pseudo" type="text" />
      <p>Mot de passe :</p>
      <input id="connect-mdp" type="password"/>
      <p class="tinyredtext" *ngIf="error!=''">{{error}}</p>
      <div>
        <button (click)="connect(false,false)">Connect</button>
        <button (click)="connect(true,false)">Create</button>
      </div>
    </div>
  </div>

</div>

<!--<bigcard-->
<div *ngIf="bigCard" class="bigCard">
  <div class="conteneur">
    <div class="bloc noflex">
      <p>{{bigCard.nom}}</p>
      <p>{{bigCard.classe}}</p>
      <p>NP : {{bigCard.np?bigCard.np.type:'Aleat'}}</p>
      <p>True master : {{getTrueMaster()}}</p>
      <div *ngIf="!changeAscension" class="conteneurImg">
        <img src="{{getSprite(user.id,bigCard)}}" [ngClass]="haveServant(bigCard)"/>
      </div>
      <div *ngIf="changeAscension" class="ascs">
        <img *ngIf="bigCard.img1" src="{{bigCard.img1}}" (click)="changeAsc(0)" class="clickable"/>
        <img *ngIf="bigCard.img2&&getLevelServant(user.id,bigCard.id).level>30" src="{{bigCard.img2}}" (click)="changeAsc(1)" class="clickable"/>
        <img *ngIf="bigCard.img3&&getLevelServant(user.id,bigCard.id).level>60" src="{{bigCard.img3}}" (click)="changeAsc(2)" class="clickable"/>
        <img *ngIf="bigCard.img4&&getLevelServant(user.id,bigCard.id).level>90" src="{{bigCard.img4}}" (click)="changeAsc(3)" class="clickable"/>
      </div>
      <button [class.disabled]="!gotTitle()" (click)="useTitle()">Use as Title</button>
      <button *ngIf="gotServant(bigCard)" [class.disabled]="getXpButtonText()=='Lvl max reached'||getCELeft()==0||(getXpButtonText()=='Ascend'&&bigCard.qte<2)" (click)="getXpButtonText()=='Ascend'?ascend():xpServ()">{{getXpButtonText()}}</button>
      <button (click)="changeAscension=!changeAscension" [class.disabled]="!getLevelServant(user.id,bigCard.id)||getLevelServant(user.id,bigCard.id).level<31">Change ascension</button>
    </div>
    
    <div class="servant">
      <app-cardperso
        (click)="setBigCard(undefined)"
        [height]="'big'"
        [image]="getImg(user.id,bigCard)"
        [titles]="getTitles(user,bigCard)"
        [showTitle]="true"
        [level]="getLevel(bigCard)"
        [showLevel]="true"
        [showQte]="true"
        [grised]="haveServant(bigCard)"
        [perso]="bigCard">
      </app-cardperso>
    </div>
  </div>
</div>

<div class="popup histopulls noflex" *ngIf="popup&&popup.type=='histopulls'">
  <p class="croix clickable" (click)="popup=undefined">x</p>
  <div *ngFor="let histo of popup.data" class="noflex">
    <p>{{histo.date | date:'HH:mm:ss - dd/MM/aaaa' }}</p>
    <div>
      <app-cardperso *ngFor="let servant of histo.pulls"
        [class.grised2]="servant.level<4||servant.nom=='Craft Essence'"
        (click)="setBigCard(servant)"
        [height]="'tiny'"
        [titles]="getTitles(user,servant)"
        [level]="getLevel(servant)"
        [showBorder]="false"
        [showName]="false"
        [showClasse]="false"
        [perso]="servant">
      </app-cardperso>
    </div>
  </div>
</div>

<div class="bloc success noflex" *ngIf="showSuccess">
    <div class="data noflex">
      <div class="noflex" *ngFor="let succes of successToClaim">
        <p class="nom">{{succes.nom}}</p>
        <p class="desc">{{succes.desc}}</p>
      </div>
    </div>
    <button (click)="claimAll()">Claim all ({{nbSuccess()}})</button>
</div>

<!--<PVM-->
<div *ngIf="page=='pvm'" class="pvm">
  <img class="background" src="./assets/images/pvm/0.png"/>

  <div [@idle]="{value:idleState[i].state, params:{dest:idleState[i].value}}" class="conteneurperso" *ngFor="let servant of user.compo;let i=index" [style.z-index]="5-i">
    <img class="perso" [style.left]="100*i+'px'" [style.transform]="servant.tunr?'unset':'scaleX(-1)'" [style.height]="250+servant.diff+'px'" [style.bottom]="75*i+(servant.replace?servant.replace:0)+'px'" src="{{servant.sprite1}}" />
  </div>
    
  <div [@idle]="{value:idleState[i+5].state, params:{dest:idleState[i+5].value}}" class="conteneurperso" *ngFor="let servant of team2;let i=index" [style.z-index]="5-i">
    <img class="perso" [style.right]="100*i+'px'"  [style.transform]="servant.turn?'scaleX(-1)':'unset'" [style.height]="250+servant.diff+'px'" [style.bottom]="75*i+(servant.replace?servant.replace:0)+'px'" src="{{servant.sprite1}}" />
  </div>

  <!-- TAILLE PERSOS
  <div class="noflex bloc" style="width: 15%;height:fit-content;z-index:2">
    <div *ngFor="let action of actions;let i=index">
      <button [class.disabled]="block(false,i)" style="width:20%" (click)="setaction(false,i)">-</button>
      <p style="width:60%">{{action}}</p>
      <button [class.disabled]="block(true,i)" style="width:20%" (click)="setaction(true,i)">+</button>
    </div>
    <div>
      <input type="text" [(ngModel)]="perso.np.anim"/>
      <input type="text" [(ngModel)]="perso.np.coloranim"/>
    </div>
    <button (click)="showData()">Valider</button>
  </div>

  <div class="bloc" style="position: absolute;height:100%;bottom:0px"></div>

  <div style="position:absolute;bottom:150px;display:block;justify-content: unset;">
    <img style="width:auto;position: relative;bottom:0px" *ngFor="let serv of persos;let i=index" [style.left]="0+(i==2?serv.decalageX[ascensionActuelle]:serv.decalageX[0])+'px'" [style.height]="250+(i==2?serv.taille[ascensionActuelle]:serv.taille[0])+'px'" [style.bottom]="(i==2?serv.decalageY[ascensionActuelle]:serv.decalageY[0])+'px'" src="{{getAsensionSprite(i)}}" >
  </div>
  -->
  
  </div>

<!--<conteneur-->
<div *ngIf="page!='connect'&&page!='pvm'" class="conteneur noflex">
  <!--<header-->
  <div class="header">
    <img [class.disabled]="successToClaim.length==0" class="clickable successbtn" draggable="false" (click)="showSuccess=!showSuccess" src="./assets/images/succes.png"/>
    <p *ngIf="successToClaim.length>0" class="nbSucces">{{successToClaim.length}}</p>
    <div class="numberwithimage">
      <img draggable="false" src="./assets/images/graal.png"/>
      <p>{{user.score}}</p>
    </div>
    <div></div>
    <div class="pseudotitle noflex">
      <p class="pseudo">{{user.nom}}</p>
      <p class="title">{{user.title}}</p>
    </div>
    <div></div>
    <div class="numberwithimage">
      <img draggable="false" src="./assets/images/quartz.png"/>
      <p>{{user.quartz}}</p>
      <p matTooltip="1 quartz every 5 min, even if deconnected !" (click)="recupererCagnotte()" [class.disabled]="cagnotte==0" class="clickable cagnotte">Get Stock : {{cagnotte}} {{cagnotte==60?'(MAX)':''}}</p>
    </div>
    <div></div>
    <div></div>
  </div>
  <!--<contenu-->
  <div class="contenu">
    <!--<formation-->
    <div *ngIf="page=='formation'" class="formation">
      <div class="bloc filters noflex">
        <p [class.clickable]="filter!=''" [style.display]="i>14&&selectionPerso?'none':'block'" [class.red]="(classes.includes(filter)&&!filters.includes(filter))||(!classes.includes(filter)&&filterSpec!=filter)" (click)="addFilter(filter)" *ngFor="let filter of formationFilters;let i=index">{{filter!=""?filter:'&nbsp;'}}</p>
      </div>
      <div class="noflex conteneurServants">
        <div>
          <input type="text" [(ngModel)]="search" placeholder="Recherche.." (ngModelChange)="getFormationServants()" />
          <p *ngIf="selectionPerso" class="typeselection">{{selectionPerso.page=='shop'?'Selecting for sell':'Selecting for profile'}}</p>
        </div>
        
        <div class="servants">
          <app-cardperso *ngFor="let perso of formationServants"
              (click)="setBigCard(perso)"
              [titles]="getTitles(user,perso)"
              [showTitle]="selectionPerso?true:false"
              [grised]="haveServant(perso)"
              [image]="getImg(user.id,perso)"
              [level]="getLevel(perso)"
              [showClasse]="false"
              [height]="'normal'"
              [showBorder]="selectionPerso?(haveServant(perso)=='grised2'?false:true):true"
              [showName]="selectionPerso?(haveServant(perso)=='grised2'?false:true):true"
              [perso]="perso">
          </app-cardperso>
        </div>
      </div>
    </div>
    <!--<banner-->
    <div *ngIf="page=='banner'" class="banner">
      <img class="backbanner nope" draggable="false" src="./assets/images/backBanner.png"/>
      <div class="backbanner center" *ngIf="banner">
        <app-cardperso class="bigbannerperso"
          (click)="setBigCard(banner.boost_5)"
          [showBorder]="false" 
          [titles]="getTitles(user,banner.boost_5)"
          [level]="getLevel(banner.boost_5)"
          [grised]="haveServant(banner.boost_5)"
          [height]="'big'"
          [perso]="banner.boost_5">
        </app-cardperso>
        <div class="noflex centerbanner">
          <div>
            <app-cardperso *ngFor="let perso of banner.boost_5_group" class="littlebannerperso" 
              (click)="setBigCard(perso)"
              [showBorder]="false" 
              [showName]="false"
              [grised]="haveServant(perso)"
              [titles]="getTitles(user,perso)"
              [level]="getLevel(perso)"
              [showClasse]="false"
              [height]="'tiny'"
              [perso]="perso">
            </app-cardperso>
          </div>
          <div>
            <app-cardperso *ngFor="let perso of banner.boost_4_group" class="littlebannerperso" 
              (click)="setBigCard(perso)"
              [showBorder]="false" 
              [showName]="false"
              [titles]="getTitles(user,perso)"
              [grised]="haveServant(perso)"
              [level]="getLevel(perso)"
              [showClasse]="false"
              [height]="'tiny'"
              [perso]="perso">
            </app-cardperso>
          </div>
        </div>
        <app-cardperso class="bigbannerperso"
          (click)="setBigCard(banner.boost_4)"
          [showBorder]="false" 
          [level]="getLevel(banner.boost_4)"
          [height]="'big'"
          [grised]="haveServant(banner.boost_4)"
          [titles]="getTitles(user,banner.boost_4)"
          [perso]="banner.boost_4">
        </app-cardperso>
      </div>
      <img class="backbanner nope zind2" draggable="false" src="./assets/images/frontBanner.png"/>
      <p class="nextBannerTime">Time until next banner : {{getTimeToChangeBanner()}}</p>
      <div class="summons">
        <img [class.disabled]="user.quartz<3" (click)="summon(1)" src="./assets/images/summon1.png" />
        <img [class.disabled]="user.quartz<30" (click)="summon(10)" src="./assets/images/summon.png" />
      </div>
    </div>
    <!--<video-->
    <div [style.display]="page=='summon'?'unset':'none'" class="conteneurVideo">
      <div class="group">
        <video (click)="passVideo()" muted id="video1" (ended)="videoEnd()">
          <source src="./assets/videos/3star.mp4" type='video/mp4'/>
        </video>
        <div *ngIf="servantInvoquing" class="carteInvoqued nope" [@video]='videoState' [style.display]="videoState!='0'?'unset':'none'">
          <app-cardperso 
            [height]="'video'"
            [titles]="getTitles(user,servantInvoquing)"
            [showTitle]="true"
            [perso]="servantInvoquing">
          </app-cardperso>
          <div *ngIf="servantInvoquing.nom!='Craft Essence'" [@back]='backState' class="back" >
            <img src="{{getBack()}}" />
          </div>
        </div>
      </div>
    </div>
    <!--<RECAP-->
    <div *ngIf="page=='recap'" class="recap noflex">
      <div class="persosInvoqued">
        <app-cardperso *ngFor="let perso of servantsInvoqued"
            (click)="setBigCard(perso)"
            [height]="'normal'"
            [titles]="getTitles(user,perso)"
            [level]="getLevel(perso)"
            [showTitle]="true"
            [grised]="haveServant(perso)"
            [perso]="perso">
        </app-cardperso>
      </div>
      <div class="invoqButtons">
        <img [class.disabled]="user.quartz<3" class="clickable" (click)="summon(1)" src="./assets/images/summon12.png" />
        <img [class.disabled]="user.quartz<30" class="clickable"  (click)="summon(10)" src="./assets/images/summon2.png" />
      </div>
    </div>
    <!--<friends-->
    <div *ngIf="page=='friends'" class="friends">
      <div class="bloc conteneur noflex">
        <div class="headers">
          <p class="classement">Place</p>
          <p>Score</p>
          <p class="quartz">Quartz</p>
          <p>Dernière Action</p>
          <p class="joueur">Joueur</p>
        </div>
        <div class="friend" *ngFor="let friend of users;let i=index" class="clickable2" (click)="clickProfile(friend)">
          <p class="place">{{(i+1)}}</p>
          <div class="numberwithimage">
            <img draggable="false" src="./assets/images/graal.png"/>
            <p>{{friend.score}}</p>
          </div>
          <div class="numberwithimage">
            <img draggable="false" src="./assets/images/quartz.png"/>
            <p>{{friend.quartz}}</p>
          </div>
          <p class="date">{{friend.maj | date:'HH:mm:ss - dd/MM' }}</p>
          <app-iconeperso class="icone"
            [titles]="getTitles(friend,friend.servant)"
            [showTitle]="true"
            [image]="getImg(friend.id,friend.servant)"
            [perso]="friend.servant">
          </app-iconeperso>
          <div class="noflex nomtitle">
            <p>{{friend.nom}}</p>
            <p>{{friend.title}}</p>
          </div>
        </div>
      </div>
    </div>
    <!--<SHOP-->
    <div *ngIf="page=='shop'" class="shop">
      <div class="bloc filters noflex">
        <input type="text" [(ngModel)]="search" placeholder="Recherche vendeur.."/>
        <button (click)="clickCreateSell()">{{createSell?'Cancel sell':'Create sell'}}</button>
      </div>
      <div class="ventes" *ngIf="createSell">
        <div class="vente bloc noflex">
          <div class="height93">
            <div class="noflex propose">
              <p>{{user.nom}} propose :</p>
              <div class="numberwithimage">
                <img draggable="false" src="./assets/images/quartz.png"/>
                <input type="text" [(ngModel)]="createSell.propose_quartz" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
              </div>
              <div class="noflex">
                <button [class.disabled]="createSell.propose_servants.length==5" (click)="clickChangePerso('propose_servant',-1,'shop')">Add servant</button>
                <div>
                  <app-cardperso *ngFor="let servant of createSell.propose_servants;let i=index" (click)="removeSell('propose_servant',i)"
                    [height]="'tiny'"
                    [grised]="haveServant(servant)"
                    [showClasse]="false"
                    [perso]="servant">
                  </app-cardperso>
                </div>
              </div>
              <div class="noflex">
                <button [class.disabled]="createSell.propose_titles.length==5" (click)="clickChangePerso('propose_title',-1,'shop')">Add title</button>
                <div>
                  <app-cardperso *ngFor="let servant of createSell.propose_titles;let i=index" (click)="removeSell('propose_title',i)"
                    [height]="'tiny'"
                    [titles]="'title'"
                    [grised]="haveServant(servant)"
                    [showClasse]="false"
                    [showTitle]="true"
                    [perso]="servant">
                  </app-cardperso>
                </div>
              </div>
              <div class="noflex">
                <button [class.disabled]="createSell.propose_truetitles.length==5" (click)="clickChangePerso('propose_truetitle',-1,'shop')">Add true title</button>
                <div>
                  <app-cardperso *ngFor="let servant of createSell.propose_truetitles;let i=index" (click)="removeSell('propose_truetitle',i)"
                    [height]="'tiny'"
                    [titles]="'firstTitle'"
                    [showClasse]="false"
                    [grised]="haveServant(servant)"
                    [showTitle]="true"
                    [perso]="servant">
                  </app-cardperso>
                </div>
              </div>
            </div>
            <div class="noflex price">
              <p>Contre :</p>
              <div class="numberwithimage">
                <img draggable="false" src="./assets/images/quartz.png"/>
                <input type="text" [(ngModel)]="createSell.price_quartz" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
              </div>
              <div class="noflex">
                <button [class.disabled]="createSell.price_servants.length==5" (click)="clickChangePerso('price_servant',-1,'shop')">Add servant</button>
                <div>
                  <app-cardperso *ngFor="let servant of createSell.price_servants;let i=index" (click)="removeSell('price_servant',i)"
                    [height]="'tiny'"
                    [grised]="haveServant(servant)"
                    [showClasse]="false"
                    [perso]="servant">
                  </app-cardperso>
                </div>
              </div>
              <div class="noflex">
                <button [class.disabled]="createSell.price_titles.length==5" (click)="clickChangePerso('price_title',-1,'shop')">Add title</button>
                <div>
                  <app-cardperso *ngFor="let servant of createSell.price_titles;let i=index" (click)="removeSell('price_title',i)"
                    [height]="'tiny'"
                    [titles]="'title'"
                    [showClasse]="false"
                    [grised]="haveServant(servant)"
                    [showTitle]="true"
                    [perso]="servant">
                  </app-cardperso>
                </div>
              </div>
              <div class="noflex">
                <button [class.disabled]="createSell.price_truetitles.length==5" (click)="clickChangePerso('price_truetitle',-1,'shop')">Add true title</button>
                <div>
                  <app-cardperso *ngFor="let servant of createSell.price_truetitles;let i=index" (click)="removeSell('price_truetitle',i)"
                    [height]="'tiny'"
                    [titles]="'firstTitle'"
                    [showClasse]="false"
                    [grised]="haveServant(servant)"
                    [showTitle]="true"
                    [perso]="servant">
                  </app-cardperso>
                </div>
              </div>
            </div>
          </div>
          <button [class.disabled]="cantsell(createSell)" (click)="createVente()">Create sell</button>
        </div>
      </div>
      <div class="ventes" *ngIf="!createSell">
        <div class="vente bloc noflex" *ngFor="let vente of getShops()">
          <div class="height93">
            <div class="noflex propose">
              <p>{{getUserName(vente.user_id)}} propose :</p>
              <div class="numberwithimage" *ngIf="vente.propose_quartz>0">
                <img draggable="false" src="./assets/images/quartz.png"/>
                <p>{{vente.propose_quartz}}</p>
              </div>
              <div *ngIf="vente.propose_servants.length>0" class="noflex">
                <p>Servants :</p>
                <div>
                  <app-cardperso *ngFor="let servant of vente.propose_servants"
                    (click)="setBigCard(servant)"
                    [height]="'tiny'"
                    [grised]="haveServant(servant)"
                    [level]="getLevel(servant)"
                    [showClasse]="false"
                    [perso]="servant">
                  </app-cardperso>
                </div>
              </div>
              <div *ngIf="vente.propose_titles.length>0" class="noflex">
                <p>Titles :</p>
                <div>
                  <app-cardperso *ngFor="let servant of vente.propose_titles"
                  (click)="setBigCard(servant)"
                    [height]="'tiny'"
                    [titles]="'title'"
                    [showClasse]="false"
                    [grised]="haveServant(servant)"
                    [showTitle]="true"
                    [level]="getLevel(servant)"
                    [perso]="servant">
                  </app-cardperso>
                </div>
              </div>
              <div *ngIf="vente.propose_truetitles.length>0" class="noflex">
                <p>True titles :</p>
                <div>
                  <app-cardperso *ngFor="let servant of vente.propose_truetitles"
                  (click)="setBigCard(servant)"
                    [height]="'tiny'"
                    [titles]="'firstTitle'"
                    [grised]="haveServant(servant)"
                    [showClasse]="false"
                    [level]="getLevel(servant)"
                    [showTitle]="true"
                    [perso]="servant">
                  </app-cardperso>
                </div>
              </div>
            </div>
            <div class="noflex price">
              <p>Contre :</p>
              <div class="numberwithimage" *ngIf="vente.price_quartz>0">
                <img draggable="false" src="./assets/images/quartz.png"/>
                <p>{{vente.price_quartz}}</p>
              </div>
              <div *ngIf="vente.price_servants.length>0" class="noflex">
                <p>Servants :</p>
                <div>
                  <app-cardperso *ngFor="let servant of vente.price_servants"
                  (click)="setBigCard(servant)"
                    [height]="'tiny'"
                    [showClasse]="false"
                    [grised]="haveServant(servant)"
                    [level]="getLevel(servant)"
                    [perso]="servant">
                  </app-cardperso>
                </div>
              </div>
              <div *ngIf="vente.price_titles.length>0" class="noflex">
                <p>Titles :</p>
                <div>
                  <app-cardperso *ngFor="let servant of vente.price_titles"
                  (click)="setBigCard(servant)"
                    [height]="'tiny'"
                    [titles]="'title'"
                    [grised]="haveServant(servant)"
                    [showClasse]="false"
                    [level]="getLevel(servant)"
                    [showTitle]="true"
                    [perso]="servant">
                  </app-cardperso>
                </div>
              </div>
              <div *ngIf="vente.price_truetitles.length>0" class="noflex">
                <p>True titles :</p>
                <div>
                  <app-cardperso *ngFor="let servant of vente.price_truetitles"
                  (click)="setBigCard(servant)"
                    [height]="'tiny'"
                    [titles]="'firstTitle'"
                    [showClasse]="false"
                    [grised]="haveServant(servant)"
                    [level]="getLevel(servant)"
                    [showTitle]="true"
                    [perso]="servant">
                  </app-cardperso>
                </div>
              </div>
            </div>
          </div>
          <button [class.disabled]="user.id==vente.user_id?false:cantbuy(vente)" (click)="user.id==vente.user_id?cancelsell(vente):buysell(vente)">{{user.id==vente.user_id?'Cancel':'Buy'}}</button>
        </div>
      </div>
    </div>
    <!--<PROFILE-->
    <div *ngIf="page=='profile'" class="profile">
      <div class="bloc">
        <div class="noflex">
          <div class="topinfos">
            <app-iconeperso class="icone clickable" [class.cantClick]="user.id!=userProfile.id"
              (click)="clickChangePerso('bigserv',-1,'profile')"
              [titles]="getTitles(userProfile,userProfile.servant)"
              [image]="getImg(userProfile.id,userProfile.servant)"
              [perso]="userProfile.servant">
            </app-iconeperso>
            <div class="noflex nomtitle">
              <p>{{userProfile.nom}}</p>
              <p>{{userProfile.title}}</p>
            </div>
          </div>
          <img [class.cantClick]="user.id!=userProfile.id" (click)="clickChangePerso('bigserv',-1,'profile')" [ngClass]="userHasTitle(userProfile,userProfile.servant)" class="bigserv clickable" src="{{getImg(userProfile.id,userProfile.servant)}}" />
        </div>
        <div class="noflex rightprofile">
          <div class="topright">
            <div class="noflex">
              <p>Stats :</p>
              <button (click)="createPopup('histopulls',undefined)">Historique Pulls</button>
              <p>Combat :</p>
              <!--<button>Historique</button>
              <button>Passifs</button>
              <button>Avantages</button>-->
            </div>
            <div class="noflex droite">
              <p>({{userProfile.compo.length}}/5) Compo :</p>
              <div class="compo">
                <div [class.cantClick]="user.id!=userProfile.id" *ngFor="let item of [].constructor(5);let i=index" class="composerv clickable" (click)="clickChangePerso('compo',i,'profile')">
                  <app-cardperso *ngIf="userProfile.compo[i]"
                    [height]="'normal'"
                    [titles]="getTitles(userProfile,userProfile.compo[i])"
                    [level]="getLevel(userProfile.compo[i])"
                    [showTitle]="true"
                    [showLevel]="true"
                    [showQte]="true"
                    [image]="getImg(userProfile.id,userProfile.compo[i])"
                    [perso]="userProfile.compo[i]">
                  </app-cardperso>
                  <div class="noservassigned" *ngIf="!userProfile.compo[i]&&user.id==userProfile.id"></div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="botservs">
            <div [class.cantClick]="user.id!=userProfile.id" *ngFor="let item of [].constructor(10);let i=index" class="botserv clickable" (click)="clickChangePerso('botserv',i,'profile')">
              <img *ngIf="userProfile.servants[i]" [ngClass]="userHasTitle(userProfile,userProfile.servants[i])" src="{{getImg(userProfile.id,userProfile.servants[i])}}" />
              <div class="noservassigned" *ngIf="!userProfile.servants[i]&&user.id==userProfile.id"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<footer-->
  <div class="footer">
    <!--<img draggable="false" (click)="clickMenu('pvm')" src="./assets/images/pvmButton.png"/>-->
    <img draggable="false" (click)="clickMenu('formation')" src="./assets/images/formationButton.png"/>
    <img draggable="false" (click)="clickMenu('banner')" src="./assets/images/summonButton.png"/>
    <img draggable="false" (click)="clickMenu('friends')" src="./assets/images/friendsButton.png"/>
    <img draggable="false" (click)="clickMenu('shop')" src="./assets/images/shopButton.png"/>
    <img draggable="false" (click)="clickProfile(user)" src="./assets/images/profileButton.png"/>
  </div>

</div>