    <div *ngIf="state=='connection'">
      <img draggable="false" src="./assets/images/connScreen.png" style="width:100%"/>
      <div class="connform" style="position: absolute;left:33%;top:23%">
        <div>
          <p>Pseudo :</p>
          <div>
            <input type="text" [(ngModel)]="pseudo"/>
          </div>
          <p>Mot de passe :</p>
          <div>
            <input type="password" [(ngModel)]="mdp"/>
          </div>
          <p style="color:red;height:25px;position:absolute;bottom:15px;">{{message}}</p>
          <div style="display:flex;justify-content: space-around;width:350px;margin:auto;">
            <button [class.disabledButton]="pseudo.length<3||mdp.length<3||mdp.length>20||pseudo.length>20" (click)="connect(false)">Connexion</button>
            <button [class.disabledButton]="pseudo.length<3||mdp.length<3||mdp.length>20||pseudo.length>20" (click)="createAcc()">Créer compte</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="selectedServ!=undefined" class="bigCard" [class.alreadyPulled]="isNoData()&&alreadyPulled()">
      <div class="clickable" (click)="selectedServ=undefined" [class.grised]="isNoData()" style="height:500px;">
        <img [class.golden2]="golden(selectedServ.id)" draggable="false" style="width:320px;height:100%;border:3px ridge #202020;box-shadow: black -9px 8px 15px;" src="{{selectedServ.img1}}"/>
        <img draggable="false" style="width:320px;height:100%;position:absolute;top:3px;left:3px" src="./assets/images/borders/{{selectedServ.level}}.png"/>
        <p style="white-space: break-spaces;line-height: 22px;bottom: 28px;position: absolute;font-size: 30px;text-align: center;color:white;text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;width:100%">{{selectedServ.nom}}</p>
      </div>
      <p *ngIf="first(selectedServ)" class="clickable useTitle" (click)="setTitle()">Use as Title</p>
    </div>

    <div *ngIf="state=='formation'" class="recap" style="position: absolute;top:120px;width:100%" >
      <input type="text" placeholder="Recherche.." [(ngModel)]="recherche" style="left: 43%;position: relative;width:200px;"/>
      <button style="position: absolute;left: 65%;top: -10px;width: 200px;" (click)="getUserData(false);getTitles()">Refresh</button>
      <div class="options">
        <p [class.red]="includesFilter('Alter Ego')" (click)="filter('Alter Ego')">Alter Ego</p>
        <p [class.red]="includesFilter('Archer')" (click)="filter('Archer')">Archer</p>
        <p [class.red]="includesFilter('Assassin')" (click)="filter('Assassin')">Assassin</p>
        <p [class.red]="includesFilter('Avenger')" (click)="filter('Avenger')">Avenger</p>
        <p [class.red]="includesFilter('Beast')" (click)="filter('Beast')">Beast</p>
        <p [class.red]="includesFilter('Berserker')" (click)="filter('Berserker')">Berserker</p>
        <p [class.red]="includesFilter('Caster')" (click)="filter('Caster')">Caster</p>
        <p [class.red]="includesFilter('Foreigner')" (click)="filter('Foreigner')">Foreigner</p>
        <p [class.red]="includesFilter('Lancer')" (click)="filter('Lancer')">Lancer</p>
        <p [class.red]="includesFilter('Moon Cancer')" (click)="filter('Moon Cancer')">Moon Cancer</p>
        <p [class.red]="includesFilter('Pretender')" (click)="filter('Pretender')">Pretender</p>
        <p [class.red]="includesFilter('Rider')" (click)="filter('Rider')">Rider</p>
        <p [class.red]="includesFilter('Ruler')" (click)="filter('Ruler')">Ruler</p>
        <p [class.red]="includesFilter('Saber')" (click)="filter('Saber')">Saber</p>
        <p [class.red]="includesFilter('Shielder')" (click)="filter('Shielder')">Shielder</p>
        <p [class.red]="!showEssences" (click)="showEssences=!showEssences"  style="margin-top:30px">Craft Essence</p>
        <p [class.red]="!notPulled" (click)="notPulled=!notPulled">Not Pulled</p>
      </div>

      <div class="tab2">
        <div class="tab" *ngIf="!notPulled">
          <div *ngFor="let perso of getData();let i=index" style="position:relative;margin-right:10px;" class="clickable" (click)="selectedServ=perso">
            <img [class.golden]="golden(perso.id)" draggable="false" style="width:130px;border:3px ridge #202020;box-shadow: black -9px 8px 15px;" src="{{perso.img1}}" />
            <img draggable="false" style="width:130px;position:absolute;top:3px;left:3px" src="./assets/images/borders/{{perso.level}}.png"/>
            <p style="bottom: 0px;position: absolute;font-size: 17px;width: 25px;text-align: center;color: white;text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
              background-color: #aa2002;border-radius: 20px;border: 2px ridge #202020;right: -12px;z-index: 2;">{{perso.qte}}</p>
            <p style="height:0px;white-space: break-spaces;line-height: 10px;width:130px;top: -33px;position: relative;font-size: 15px;text-align: center;color:white;text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">{{perso.nom}}</p>
            
          </div>
        </div>
        
        <div class="tab">
          <div *ngFor="let perso of getNoData();let i=index" style="height:fit-content;position:relative;margin-right:10px;filter: grayscale(200%);opacity: 0.6;" class="clickable2" (click)="selectedServ=perso">
            <img draggable="false" style="width:130px;border:3px ridge #202020;box-shadow: black -9px 8px 15px;" src="{{perso.img1}}"/>
            <img draggable="false" style="width:130px;position:absolute;top:3px;left:3px;" src="./assets/images/borders/{{perso.level}}.png"/>
            <p style="height:0px;width:130px;top: -33px;position: relative;font-size: 15px;text-align: center;color:white;text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            white-space: break-spaces;line-height: 10px;">{{perso.nom}}</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="profile">
      
    </div>

    <div *ngIf="state=='friends'">
      <button (click)="getUsers()" style="position: absolute;top: 110px;left: 43%;width: 200px;">Refresh</button>
      <p style="position:absolute;left: 970px;top: 165px;z-index: 5;color: white;text-shadow: 4px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Dernière Invocation</p>
      <p style="position:absolute;left: 1210px;top: 165px;z-index: 5;color: white;text-shadow: 4px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Connecté Depuis</p>
      <div class="containerScore" style="left:200px;width:1200px">
        <div style="width:100%">
          <div *ngFor="let user of users;let i=index"  class="clickable" (click)="profile=user.id">
            <div style="display:flex;">
              <p style="color: white;font-size: 50px;position: absolute;left:10px;text-shadow: 4px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">{{(i+1)}}</p>
              <div class="score" style="left:85px;margin-top:10px;" [style.border-color]="user.id==id?'#bb9930':'#bbb'">
                <p class="sc" style="top:-3px">{{user.score}}</p><img draggable="false" src="./assets/images/graal.png"/>
              </div>
              <div class="score" style="left:105px;margin-top:10px;" [style.border-color]="user.id==id?'#bb9930':'#bbb'">
                <p class="sc" style="top:-3px">{{user.quartz}}</p><img draggable="false" src="./assets/images/quartz.png"/>
              </div>
              <div style="position: absolute;left: 530px;padding-top: 4px;text-align: left;width:400px">
                <p style="text-shadow: 4px 0 black, 0 1px black, 1px 0 black, 0 -1px black;" [style.color]="user.id==id?'#bb9930':'white'">{{user.nom}}</p>
                <p style="position:absolute;font-size:14px;text-shadow: 4px 0 black, 0 1px black, 1px 0 black, 0 -1px black;" [style.color]="user.id==id?'#bb9930':'white'">{{user.title}}</p>  
              </div>
              <div style="position: absolute;left: 820px;padding-top: 15px;text-align: left;width:280px;opacity: 0.4;">
                <p style="position:absolute;font-size:14px;text-shadow: 4px 0 black, 0 1px black, 1px 0 black, 0 -1px black;" [style.color]="user.id==id?'#bb9930':'white'">{{user.last}}</p>  
              </div>
              <div style="position: absolute;left: 1045px;padding-top: 15px;text-align: left;width:280px;opacity: 0.4;">
                <p style="position:absolute;font-size:14px;text-shadow: 4px 0 black, 0 1px black, 1px 0 black, 0 -1px black;" [style.color]="user.id==id?'#bb9930':'white'">{{user.conn}}</p>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
        
    
    <div *ngIf="state!='connection'">
      <div class="header" style="box-shadow: white 1px 1px 10px;width: 99%;height: 90px;background-color: rgba(100,150,200,0.8);border: 3px ridge #555;display:flex;justify-content: space-around;margin-bottom:20px;">

          <img class="clickable" (click)="succesOpen=!succesOpen" draggable="false" src="./assets/images/succes.png" style="position: absolute;left: 15px;width: 80px;"/>
          <p *ngIf="successToClaim.length>0" style="top: 55px;position: absolute;font-size: 20px;width: 29px;text-align: center;color: white;text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
          background-color: #aa2002;border-radius: 20px;border: 2px ridge #202020;left: 70px;z-index: 2;">{{successToClaim.length}}</p>

          <div class="succes" *ngIf="succesOpen" style="overflow-y:scroll">
            <p>Succès</p>
            <div class="descSucces" *ngFor="let success of successToClaim" style="padding:10px;margin: auto;width: 75%;height: 70px;position: relative;margin-bottom:10px">
              <p style="text-decoration: underline;font-size: 15px;">{{success.nom}}</p>
              <p style="height:55%;text-align: left;">{{success.desc}}</p>
              <div class="nostyle" style="left: 10px;bottom: 4px;height: 20px;">
                <p class="clickable" style="text-shadow: 1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
                font-size: 18px;" (click)="claimSuccess(success)">Claim</p>
              </div>
              <div class="nostyle">
                <p style="font-size:20px;text-align: right;top:4px;right:30px;">{{success.recompense}}</p>
                <img style="width:30px;height:30px;top:3px;left:25px;" draggable="false" src="./assets/images/quartz.png"/>
              </div>
            </div>
            <button (click)="checkSuccess()">Refresh</button>
          </div>

        
        <div><p>{{score}}</p><img draggable="false" src="./assets/images/graal.png"/></div>
        <p style="color: white;text-shadow: 4px 0 black, 0 1px black, 1px 0 black, 0 -1px black;padding-top: 20px;font-size: 35px;position: absolute;">{{pseudo}}</p>
        <p style="color: black;text-shadow: 4px 0 white, 0 1px white, 1px 0 white, 0 -1px white;padding-top: 55px;font-size: 20px;position: absolute;">{{user.title}}</p>
        <div class="clickable" (click)="refreshUser()"><p>{{quartz}}</p><img draggable="false" src="./assets/images/quartz.png"/></div>
        <p style="position: absolute;top: 68px;left: 70%;color: white;text-shadow: 4px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Next Quartz : {{nextSQ < 10?'0':''}}{{nextSQ}}:{{nextSQs < 10?'0':''}}{{nextSQs}}</p>
      </div>
  
      <img draggable="false" src="./assets/images/wait.png" *ngIf="state=='invocation'" style="position: absolute;bottom: 230px;width: 1370px;left: 170px;"/>
  
      <img draggable="false" src="./assets/images/bgrecap.png" [style.display]="state=='recap'||state=='formation'||state=='friends'||state=='shop'?'unset':'none'" style="position: absolute;z-index: -1;width: 100%;top: 100px;height:88%"/>
  
      <div class="recap" *ngIf="state=='recap'" style="display:flex;justify-content: center;top: 270px;position: absolute;width: 100%;">
        <img draggable="false" style="width:130px" *ngFor="let perso of persosInvoqued" src="{{perso.img1}}"/>
        <div style="position: absolute;">
          <img draggable="false" style="width:130px" *ngFor="let perso of persosInvoqued" src="./assets/images/borders/{{perso.level}}.png"/>
        </div>
      </div>
      
      <div *ngIf="state=='shop'">
        <div *ngIf="createVente" class="creatVente">
          <p style="text-align: center;">{{sellType=='quartz'&&persoToSell?'-':'Selectionnez le Servant que vous souhaitez '+(!persoToSell?'échanger':'vendre')}}</p>
          <input type="text" placeholder="Recherche.." [(ngModel)]="recherche" style="left: 3%;position: relative;width:200px;top:-30px;margin-bottom:0px"/>
          <div style="display:flex;justify-content: center;height:270px;">
            <div style="display:flex;overflow-x:scroll;overflow-y:hidden;padding:20px;" [style.display]="sellType=='quartz'&&persoToSell?'none':'flex'">
              <div [class.disabled]="cantSellServant(servant.id)" *ngFor="let servant of getSellServant()" style="height:207px;position:relative;height:213px"  class="clickable" (click)="clickSellPerso(servant)">
                <img [class.golden]="persoToSell==undefined?golden(servant.id):false" draggable="false" style="height:207px;width:130px;border:3px ridge #202020;box-shadow: black -9px 8px 15px;" src="{{servant.img1}}"/>
                <img draggable="false" style="height:207px;width:130px;position:absolute;top:3px;left:3px;" src="./assets/images/borders/{{servant.level}}.png"/>
                <p style="width:130px;top: -35px;position: relative;font-size: 15px;text-align: center;color:white;text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                    white-space: break-spaces;line-height: 10px;left:3px">{{servant.nom}}</p>
                    <p style="bottom: 0px;position: absolute;font-size: 17px;width: 25px;text-align: center;color: white;text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                    background-color: #aa2002;border-radius: 20px;border: 2px ridge #202020;right: -12px;z-index: 2;">{{servant.qte}}</p>
              </div>
            </div>
          </div>
          <div style="display:flex;justify-content: center;" class="sellContener">
            <p style="position: absolute;top: 0px;right: 10px;" class="clickable" (click)="createVente=false">x</p>
            <div style="height:207px;position: relative;" *ngIf="persoToSell" class="clickable" (click)="persoToExchange=undefined;persoToSell=undefined;">
              <img [class.golden]="sellWithTitle" draggable="false" style="height:207px;width:130px;border:3px ridge #202020;box-shadow: black -9px 8px 15px;" src="{{persoToSell.img1}}"/>
              <img draggable="false" style="height:207px;width:130px;position:absolute;top:3px;left:3px;" src="./assets/images/borders/{{persoToSell.level}}.png"/>
              <p style="width:130px;top: -35px;position: relative;font-size: 15px;text-align: center;color:white;text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                  white-space: break-spaces;line-height: 10px;left:3px">{{persoToSell.nom}}</p>
            </div>
            <div *ngIf="persoToSell" class="blocSell">
              <p class="clickable" [class.disabledButton]="disableTitleToggle()" [class.red]="!sellWithTitle" (click)="sellWithTitle=!sellWithTitle">Sell with Title</p>
              <p class="clickable" [class.red]="sellType!='trade'" (click)="sellType='trade'" style="margin-top:30px">Trade a Servant</p>
              <p class="clickable" [class.red]="sellType!='quartz'" (click)="sellType='quartz'">Sell for Quartz</p>
            </div>
            <div *ngIf="persoToExchange&&sellType=='trade'" class="blocSell">
              <p class="clickable" [class.disabledButton]="!isTitleSellToggable2()" [class.red]="!exchangeWithTitle" (click)="exchangeWithTitle=!exchangeWithTitle">Exchange with Title</p>
            </div>
            <div style="position: relative;" *ngIf="persoToExchange&&sellType=='trade'"  class="clickable" (click)="persoToExchange=undefined">
              <img [class.golden]="exchangeWithTitle" draggable="false" style="height:207px;width:130px;border:3px ridge #202020;box-shadow: black -9px 8px 15px;" src="{{persoToExchange.img1}}"/>
              <img draggable="false" style="height:207px;width:130px;position:absolute;top:3px;left:3px;" src="./assets/images/borders/{{persoToExchange.level}}.png"/>
              <p style="width:130px;top: -35px;position: relative;font-size: 15px;text-align: center;color:white;text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                  white-space: break-spaces;line-height: 10px;left:3px">{{persoToExchange.nom}}</p>
            </div>
            <div style="position: relative;top: 90px;height:50px;" *ngIf="sellType=='quartz'" >
              <img draggable="false" src="./assets/images/quartz.png" style="position: absolute;height: 60px;top: -14px;left: -18px;"/>
              <input type="text" [(ngModel)]="sellQuartz" style="width: 200px;" placeholder="Prix.."/>
            </div>
          </div>
          <div style="display:flex;justify-content: center;position: absolute;width: 100%;bottom:15px">
            <button [class.disabledButton]="isDisabledSell()" style="width:200px;margin-top:0px;" (click)="this.recherche='';sellServant()">Vendre</button>
          </div>
        </div>
        <input type="text" placeholder="Recherche.." [(ngModel)]="recherche" style="left: 26%;position: relative;width:200px;top:-8px"/>
        <button style="position: absolute;left: 65%;top: 95px;width: 200px;" (click)="refreshBoutique()">Refresh</button>
        <div class="options" style="width:190px;top:95px;">
          <p [class.red]="filterSell!=''" (click)="filterSell=''">Tout Voir</p>
          <p [class.red]="filterSell!='Mes Ventes'" (click)="filterSell='Mes Ventes'">Mes Ventes</p>
          <p [class.red]="filterSell!='Achat Quartz'" (click)="filterSell='Achat Quartz'">Achat Quartz</p>
          <p [class.red]="filterSell!='Achat Echanges'" (click)="filterSell='Achat Echanges'">Achat Echanges</p>
          <p [class.red]="!filterSellAvailable" (click)="filterSellAvailable=!filterSellAvailable"  style="margin-top:30px">Achats Possibles</p>
          <button (click)="this.recherche='';sellType='trade';sellQuartz='';persoToSell=undefined;persoToExchange=undefined;createVente=true"  style="margin-top:30px">Vendre</button>
        </div>
        <div style="display:flex;justify-content: center;">
          <div style="max-width: 79%;overflow-x: scroll;position: relative;top:-10px;">
            <div style="display:flex;">
              <div *ngFor="let sell of getShops()" class="sell">
                <p>{{sell.nom}}</p>
                <div *ngIf="sell.servant" style="position:relative;height:213px" class="clickable" (click)="selectedServ=sell.servant">
                  <img draggable="false" style="height:207px;width:130px;border:3px ridge #202020;box-shadow: black -9px 8px 15px;" src="{{sell.servant.img1}}"/>
                  <img draggable="false" style="height:207px;width:130px;position:absolute;top:3px;left:35px;" src="./assets/images/borders/{{sell.servant.level}}.png"/>
                  <p style="width:130px;top: -30px;position: relative;font-size: 15px;text-align: center;color:white;text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                  white-space: break-spaces;line-height: 10px;left:35px">{{sell.servant.nom}}</p>
                </div>
                <div *ngIf="sell.servantWithTitle" style="position:relative;height:213px" class="clickable" (click)="selectedServ=sell.servantWithTitle">
                  <img class="golden" draggable="false" style="height:207px;width:130px;border:3px ridge #202020;box-shadow: black -9px 8px 15px;" src="{{sell.servantWithTitle.img1}}"/>
                  <img draggable="false" style="height:207px;width:130px;position:absolute;top:3px;left:35px;" src="./assets/images/borders/{{sell.servantWithTitle.level}}.png"/>
                  <p style="width:130px;top: -30px;position: relative;font-size: 15px;text-align: center;color:white;text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                  white-space: break-spaces;line-height: 10px;left:35px">{{sell.servantWithTitle.nom}}</p>
                </div>
                <p style="margin: 20px 0px;">Contre :</p>
                <div *ngIf="sell.servantPrice" style="position:relative;height:213px"  class="clickable" (click)="selectedServ=sell.servantPrice">
                  <img draggable="false" style="height:207px;width:130px;border:3px ridge #202020;box-shadow: black -9px 8px 15px;" src="{{sell.servantPrice.img1}}"/>
                  <img draggable="false" style="height:207px;width:130px;position:absolute;top:3px;left:35px;" src="./assets/images/borders/{{sell.servantPrice.level}}.png"/>
                  <p style="width:130px;top: -30px;position: relative;font-size: 15px;text-align: center;color:white;text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                  white-space: break-spaces;line-height: 10px;left:35px">{{sell.servantPrice.nom}}</p>
                </div>
                <div *ngIf="sell.servantPriceWithTitle" style="position:relative;height:213px"  class="clickable" (click)="selectedServ=sell.servantPriceWithTitle">
                  <img class="golden" draggable="false" style="height:207px;width:130px;border:3px ridge #202020;box-shadow: black -9px 8px 15px;" src="{{sell.servantPriceWithTitle.img1}}"/>
                  <img draggable="false" style="height:207px;width:130px;position:absolute;top:3px;left:35px;" src="./assets/images/borders/{{sell.servantPriceWithTitle.level}}.png"/>
                  <p style="width:130px;top: -30px;position: relative;font-size: 15px;text-align: center;color:white;text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                  white-space: break-spaces;line-height: 10px;left:35px">{{sell.servantPriceWithTitle.nom}}</p>
                </div>
                <div *ngIf="sell.price_quartz!=-1" class="score" style="left:20px;margin-top:10px;width:175px;margin-bottom:170px;top:65px">
                  <p class="sc" style="top:-3px">{{sell.price_quartz}}</p><img draggable="false" src="./assets/images/quartz.png"/>
                </div>
                <button *ngIf="sell.nom!=user.nom" [class.disabledButton]="!got(sell.price_quartz,sell.servantPrice,sell.servantPriceWithTitle)" (click)="buyServ(sell)">Acheter</button>
                <button *ngIf="sell.nom==user.nom" (click)="cancelSell(sell.id)">Annuler</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div style="position:relative;height:505px;left:150px;width:fit-content" *ngIf="state=='banner'">
        <img draggable="false" style="position:absolute;width:1400px;" src="./assets/images/backBanner.png"/>
        <p  class="nextBann" >Next Banner : {{nextChangeBanner < 10?'0':''}}{{nextChangeBanner}}:{{nextChangeBanners < 10?'0':''}}{{nextChangeBanners}}</p>
        <div style="position:absolute;left:350px;top:135px" (mouseleave)="focus=undefined">
          <div style="display:flex">
            <div *ngFor="let perso of persos5" style="position:relative">
              <img draggable="false" style="height:90px;border: 3px ridge #222;" src="{{perso.img1}}" (mouseover)="focus=perso" class="clickable" (click)="selectedServ=perso"/>
              <div class="boosted2 row5"  style="pointer-events: none;z-index: 3;">
                <p [style.display]="focus==perso?'unset':'none'">{{perso.level}}★</p>
                <p [style.display]="focus==perso?'unset':'none'">{{perso.nom}}</p>
              </div>
            </div>
          </div>
          <div style="display:flex">
            <div *ngFor="let perso of persos4" style="position:relative">
              <img draggable="false" style="height:90px;border: 3px ridge #222;" src="{{perso.img1}}" (mouseover)="focus=perso" class="clickable" (click)="selectedServ=perso"/>
              <div class="boosted2"  style="pointer-events: none;z-index: 3;">
                <p [style.display]="focus==perso?'unset':'none'">{{perso.level}}★</p>
                <p [style.display]="focus==perso?'unset':'none'">{{perso.nom}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="boosted1 left clickable" style="margin-top: 9px;left:9px;position:absolute;" (click)="selectedServ=perso5">
          <img draggable="false" style="border: 5px ridge #222;height:478px;" src="{{perso5.img1}}"/>
          <div>
            <p>{{perso5.level}}★</p>
            <p>{{perso5.nom}}</p>
          </div>
        </div>
        <div class="boosted1 right clickable" style="margin-top: 9px;position: absolute;left: 1043px"  (click)="selectedServ=perso4">
          <img draggable="false" style="border: 5px ridge #222;height: 478px;" src="{{perso4.img1}}"/>
          <div>
            <p>{{perso4.level}}★</p>
            <p>{{perso4.nom}}</p>
          </div>
        </div>
        
        <img draggable="false" style="box-shadow: green 0px 0px 25px;position:absolute;width:1400px;pointer-events: none;" src="./assets/images/frontBanner.png" />
  
        <div style="position:absolute;left:410px;bottom:-10%;display:flex;">
          <img draggable="false" [class.disabled]="cantInvoq(1)" class="summon" style="margin-right:50px;" src="./assets/images/summon1.png" (click)="startSummon(1)"/>
          <img draggable="false" [class.disabled]="cantInvoq(10)" class="summon"  src="./assets/images/summon.png" (click)="startSummon(10)"/>
        </div>
      </div>
  
      <div [style.display]="state=='invocation'?'unset':'none'">
        <video muted id="video1"  width="1407px" height="580px" style="left:150px;position: absolute;" (ended)="videoEnd()">
            <source src="./assets/videos/cligno.mp4" type='video/mp4'/>
        </video>
  
        <div [style.display]="isShow()?'unset':'none'">
          <img draggable="false"  [@grow]='getGrowState()' [style.display]="!isCE()&&revealed()?'unset':'none'" style="position: absolute;height: 575px;left: 680px;
          width:367px;" src="{{getImage()}}"/>
    
          <img draggable="false" [@rotate2]='getRotateState2()' [@grow]='getGrowState()' [style.display]="isCE()&&load?'unset':'none'" style="position: absolute;height: 575px;left: 680px;
          width:367px;" src="{{getImage()}}"/>
    
          <img draggable="false" src="{{getBorder()}}" [style.display]="!isCE()&&revealed()?'unset':'none'"  [@grow]='getGrowState()'style="position: absolute;height: 570px;width:367px;left: 675px;pointer-events: none;border: 5px ridge #202020;box-shadow: 10px 10px 15px black;"/>
          <img draggable="false" src="{{getBorder()}}" [style.display]="isCE()&&load?'unset':'none'"  [@rotate]='getRotateState()' [@grow]='getGrowState()' style="position: absolute;height: 570px;width:367px;left: 675px;pointer-events: none;border: 5px ridge #202020;box-shadow: 10px 10px 15px black;" />
                
          <p *ngIf="revealed()||isCE()" [@grow]='getGrowState()' [@rotate]='getRotateState()'
          style="position: absolute;height: 575px;width:367px;left: 687px;pointer-events: none;font-size: 35px;bottom: 245px;text-align: center;color:white;height:auto;
          text-shadow: 4px 0 black, 0 1px black, 1px 0 black, 0 -1px black;line-height: 25px;">{{getName()}}</p>
    
          <img draggable="false" *ngIf="load&&!isCE()" [@rotate]='getRotateState()' [@crop]='getCropState()' style="position: absolute;height: 575px;left: 675px;width:367px;" src="{{getBack()}}"/>
        </div>
  
      </div>
      <div class="footer" style="z-index: 3;box-shadow: white 1px -1px 10px;position: absolute;bottom: 0px;width: 99%;height: 190px;background-color: rgba(100,150,200,0.8);border: 3px ridge orange;display:flex;justify-content: space-around;">
        <img draggable="false" (click)="succesOpen=false;createVente=false;filters=[];recherche='';selectedServ=undefined;playButton();state!='invocation'?state='formation':null" src="./assets/images/formationButton.png"/>
        <img draggable="false" (click)="succesOpen=false;createVente=false;filters=[];recherche='';selectedServ=undefined;playButton();state!='invocation'?state='banner':null" src="./assets/images/summonButton.png"/>
        <img draggable="false" (click)="succesOpen=false;createVente=false;filters=[];recherche='';selectedServ=undefined;playButton();state!='invocation'?state='friends':null" src="./assets/images/friendsButton.png"/>
        <img draggable="false" (click)="succesOpen=false;createVente=false;filters=[];recherche='';selectedServ=undefined;playButton();state!='invocation'?state='shop':null" src="./assets/images/shopButton.png"/>
        <img draggable="false" (click)="succesOpen=false;createVente=false;filters=[];recherche='';selectedServ=undefined;playButton();state!='invocation'?profile='id':null" src="./assets/images/profileButton.png"/>
      </div>
    </div>
    