@font-face {
    font-family: 'font2';
    src: url('./assets/fonts/Ancient Medium.ttf');
  }

  @font-face {
    font-family: 'font3';
    src: url('./assets/fonts/Kastellar Wd Regular.ttf');
  }

  @font-face {
    font-family: 'font';
    src: url('./assets/fonts/Algerian Regular.ttf');
  }

  * {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
body{
    background-color: black;
    margin:0;
    overflow:hidden;
}

  p{
    font-family: 'font';
    margin:0;
    color:#aa2020;
    font-size: 20px;
    text-shadow: 4px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }

.boosted1 div{
    position: absolute;
    bottom: 50px;
    max-width: 330px;
    left:10px;
}

div .boosted2{
    position: absolute;
    bottom: 32px;
    max-width: 330px;
    left:8px;
}

div .row5
{
    bottom: 12px;
}

.boosted2 p{
    line-height:13px;
    font-size:16px;
    display:none;
}

.boosted1 p{
    font-size: 65px;
    line-height:45px;
}

.right div{
    right:15px;
}

.left div p{
    text-align: left;
}
.right div p{
    text-align: right;
}

.summon:hover{
    cursor:pointer;
    filter: brightness(140%);
}

.footer img:hover{
    cursor:pointer;
    opacity:0.5;
}

.header div, .score{
    width: 200px;
height: 40px;
border: 2px solid #bbb;
background-color: rgba(20,20,20,0.5);
border-radius: 20px;
margin-top: 20px;
text-align: center;
position: relative;
box-shadow: black -9px 8px 15px;
}

.header div p, .score .sc{
    font-size: 35px;
top: -4px;
position: relative;
color: white;
text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.header div img, .score img{
    height: 70px;
left: -25px;
position: absolute;
top: -15px;
}

.recap img{
    height:200px;
}

.connform{
    padding: 50px 0px;
background-color: rgba(20,20,20,0.9);
border: 3px ridge #bbb;
border-radius: 20px;
box-shadow: black 10px 10px 10px;
display:flex;
justify-content: center;
width:550px;
}

.connform p{
color: white;
text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
margin-bottom:3px;
}

input{
    background-color: #404040;
border: 3px ridge #bbb;
border-radius: 20px;
padding: 5px;
width: 100%;
text-align: center;
color: white;
box-shadow: black 10px 10px 10px;
margin-bottom:10px;
}


button{
    background-color: #404040;
border: 3px ridge #bbb;
border-radius: 20px;
padding: 5px;
width: 100px;
text-align: center;
color: white;
box-shadow: black 10px 10px 10px;
margin-top:10px;
width: auto;
padding: 5px 15px;
white-space: nowrap;
min-width:120px;
}

button:hover{
    cursor:pointer;
    opacity:0.5;
}

.disabled{
    filter: grayscale(1);
    pointer-events: none;
}

.disabledButton{
    opacity:0.2;
    pointer-events: none;
}

.options{
    position: absolute;
width: 160px;
background-color: rgba(20,20,20,0.9);
box-shadow: black 10px 10px 10px;
border: 3px ridge #bbb;
z-index: 2;
left: -3px;
padding-left: 20px;
padding: 20px;
overflow:hidden;
top: -25px;
}

.options p{
    color:white;
    text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.options p:hover{
    cursor:pointer;
    opacity:0.5;
}

.red{
    color:#aa2020 !important;
}

.tab2{
    position: relative;
    display: flex;
    max-width: 84%;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre;
    flex-flow: wrap;
    max-height: 545px;
    left: 200px;
    padding: 20px 20px;
}

.tab{
    display: flex;
white-space: pre;
flex-flow: wrap;
}

.containerScore{
    position: absolute;
left: 22%;
top: 180px;
width: 915px;
display: flex;
justify-content: center;
padding: 20px 0px;
background-color: rgba(20,20,20,0.9);
box-shadow: black 10px 10px 10px;
border: 3px ridge #bbb;
max-height: 450px;
overflow-y: auto;
overflow-x: hidden;
}

.nextBann
{
    position: absolute;
z-index: 4;
font-size: 65px;
white-space: nowrap;
left: 380px;
top: -35px;
text-shadow: 4px 0 green, 0 2px green, 2px 0 green, 2px 2px green;
color: white;
}

.clickable:hover
{
    opacity:0.5;
    cursor:pointer;
}

.clickable3:hover
{
    opacity:0.9;
    cursor:pointer;
}

.clickable2:hover
{
    opacity:0.4!important;
    cursor:pointer;
}

.bigCard{
    position: absolute;
z-index: 5;
left: 620px;
top:120px;
}

.golden{
    border: 3px ridge gold !important;
    box-shadow: gold 0px 0px 20px !important;
}

.golden2{
    border: 3px ridge gold !important;
    box-shadow: gold 0px 0px 80px !important;
}

.alreadyPulled{
    box-shadow:red 0px 0px 80px !important;
}



.grised{
    opacity: 0.6;
    filter: grayscale(100%);
}

.sell{
    min-width: 200px;
height: 590px;
background-color: rgba(20,20,20,0.9);
text-align: center;
}

.noClickable:hover{
    cursor:unset!important;
    opacity: 1!important;
}

.creatVente{
    background-color: rgba(20,20,20,0.9);
box-shadow: black 10px 10px 10px;
border: 3px ridge #bbb;
height: 560px;
position: absolute;
z-index: 5;
left: 20px;
width: 1530px;
}

.blocSell{
    background-color: rgba(20,20,20,0.9);
box-shadow: black 10px 10px 10px;
border: 3px ridge #bbb;
width: 210px;
text-align: center;
padding-top: 20px;
margin: 20px;
height:130px;
}

.header .succes{
    position: absolute;
left: -2px;
top: 75px;
z-index: 6;
width: 300px;
height: 500px;
border-radius: unset;
background-color: rgba(20,20,20,0.9);
}

.sellContener p{
    color: white;
    text-shadow: 4px 0 black , 0 2px black , 2px 0 black , 2px 2px black;
}

.header .succes .descSucces p{
    font-size:12px;
}

.header .succes .nostyle{
    width: 55px;
right: 8px;
position: absolute;
bottom: -6px;
border: unset;
background-color: unset;
box-shadow: unset;
}

.nbServ{
    position: absolute;
top: -20px;
font-size: 50px;
z-index: 2;
box-shadow: black 10px 10px 10px;
background-color: rgba(20,20,20,0.9);
border: 3px ridge #bbb;
padding: 0px 30px;
left:20%;
}

.profile{
    height: 632px;
position: absolute;
width: 96%;
top: 94px;
background-color: rgba(20,20,20,0.9);
z-index: 6;
border: 5px ridge #bbb;
padding:30px;
display:flex;
}

.servProfile{
    width: 465px;
border: 3px ridge #202020;
box-shadow: black -9px 8px 15px;
height: 100%;
}

.profileBotServs{
    position: absolute;
    bottom: 0px;
    display: flex;
    height: 220px;
    bottom: 25px;
    left:520px;
}
.profileBotServs img{
    width:155px;
}
.profileBotServs div
{
    box-shadow: black -9px 8px 15px;
    width:155px;
}
.profilePicture{
    width: 80px;
height: 80px;
overflow: hidden;
}
.profilePicture img{
    width: 80px;
height: 80px;
object-position: 0% -50%;
object-fit: cover;
transform: scale(2);
}
.profile p{
    color:white;
    text-shadow: none;
}
.profile .desc{
    background-color: rgba(20,20,20,0.9);
border: 3px ridge #bbb;
border-radius: 20px;
height: 120px;
margin: 20px 0px;
padding: 20px;
}
.profile .desc2{
    background-color: rgba(20,20,20,0.9);
border: 3px ridge #bbb;
border-radius: 20px;
height: 350px;
width:275px;
margin: 0px;
padding: 20px;
position: absolute;
right:30px;
}
.profilePicture2
{
    position: absolute;
    left: 580px;
    margin-top: 3px;
    width: 50px;
    height: 50px;
    border: 2px ridge black;
    overflow: hidden;
}
.profilePicture2 img{
    width: 50px;
height: 50px;
object-position: 0% 0%;
object-fit: cover;
}
.containerScore .clickable3:hover{
    opacity:0.4;
}
.enhance{
    position: absolute;
left: 325px;
padding:25px;
background-color: rgba(20,20,20,0.9);
border: 3px ridge #bbb;
border-radius: 20px;
}

.bigCard .useTitle{
    position: absolute;
width: 100%;
text-align: center;
top:505px;
}

.useTitle p{
    background-color: rgba(20,20,20,0.9);
    box-shadow: black 10px 10px 10px;
    border: 3px ridge #bbb;
    color: white;
    text-shadow: 4px 0 black , 0 2px black , 2px 0 black , 2px 2px black;
}

.bgDuel{
    position:absolute;
    width: 100%;
    height: 100%;
}

.persoduel{
    position: absolute;
}
.persoduel img{
    height:200px;
}
.duelstats{
    display: flex;
justify-content: space-between;
position: absolute;
width: 100%;
}
.duelstats p{
    color: white;
    text-shadow: unset;
    text-align: center;
}
.containerStatsDuel{
    background-color: rgba(20,20,20,0.9);
box-shadow: black 10px 10px 10px;
border: 3px ridge #bbb;
padding: 20px;
  padding-left: 20px;
border-radius: 20px;
left: -15px;
position: relative;
padding-left: 40px;
margin-top:10px;
padding-top:5px;
z-index:1;
}
.containerStatsDuel2{
    background-color: rgba(20,20,20,0.9);
box-shadow: black -10px 10px 10px;
border: 3px ridge #bbb;
color: white;
padding: 20px;
  padding: 20px;
border-radius: 20px;
right: -15px;
position: relative;
padding-right: 40px;
margin-top:10px;
padding-top:5px;
z-index:1;
}
.containerRightDuel{
    margin-left: 10px;
}
.containerRightDuel2{
    margin-right: 10px;
    text-align: right;
}
.containerRightDuel p{
    width:140px;
}
.containerRightDuel2 p{
    width:140px;
}
.containerbar{
    background-color: rgba(20,20,20,0.9);
    box-shadow: black 10px 10px 10px;
    border: 2px ridge #bbb;
    height: 18px;
    top: 2px;
    position: relative;
    margin-left: 15px;
    width:200px;
    border-radius:5px;
}
.containerbar2{
    background-color: rgba(20,20,20,0.9);
    box-shadow: black 10px 10px 10px;
    border: 2px ridge #bbb;
    border-radius:5px;
    height: 18px;
    top: 2px;
    position: relative;
    margin-right: 15px;
    width:200px;
}
.hp{
    background:linear-gradient(#202020, #50cc50);
width: 100%;
height: 100%;
}
.np{
    background:linear-gradient(#202020, #cccc50);
width: 100%;
height: 100%;
}
.sepia{
    filter:sepia(1);
}
.titleDuel{
    filter:drop-shadow(00px 00px 5px gold)!important;
}
.shadow {
	position: absolute;
	filter: brightness(0) blur(10px);
    width:50%;
    bottom:-43%;
}
.shadow {
	position: absolute;
	width: 110%;
	bottom: -8px;
	height: 20% !important;
	left: -5%;
}
.boosted1 img{
    width:346px;
}
.opa0{
    opacity:0;
}
.damage{
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    position:absolute;
    z-index:10;
    color:red!important;
    font-weight:bold;
    font-size:40px;
    border-radius:100%;
}
.profileBotServs2{
    display:flex;
    position: absolute;
    height:220px;
    top:75px;
}
.profileBotServs2 img{
    width: 155px;
    height:220px;
}
.profileBotServs2 .emptyserv
{
    box-shadow: black -9px 8px 15px;
    width:155px;
    height:220px;
}
.containerbar .tothp{
    position: absolute;
left: -135px;
color: green!important;
-webkit-text-stroke: 1px;
  -webkit-text-stroke-color: currentcolor;
-webkit-text-stroke-color: black;
font-size: 35px;
}
.containerbar .tothp2{
    position: absolute;
right: -135px;
color: darkred!important;
-webkit-text-stroke: 1px;
  -webkit-text-stroke-color: currentcolor;
-webkit-text-stroke-color: black;
font-size: 35px;
}
.cc{
    background: radial-gradient(rgba(200,200,20,1), rgba(150,20,20,0));
    border:10px dashed red;
    padding:8px;
}
.fightInfos p{
    text-align: center;
    color:white;
    text-shadow: unset;
}
.fightInfos{
    background-color: rgba(20,20,20,0.9);
    box-shadow: black 10px 10px 10px;
    border: 2px ridge #bbb;
    border-radius: 20px;
    z-index: 9;
    padding: 20px;
    position: absolute;
    left: 8%;
    width: 80%;
    top:5%;
}
.fightInfos .rowInfos{
    display: flex;
    height: 30%;
}
.fightInfos .blocInfos{
    width: 20%;
    background-color: rgba(20,20,20,0.9);
    box-shadow: black 10px 10px 10px;
    border: 2px ridge #bbb;
    border-radius: 20px;
    padding: 20px;
    margin: 5px;
    position:relative;
    height:155px;
}
.histoPulls
{
    background-color: rgba(20,20,20,0.9);
    box-shadow: black 10px 10px 10px;
    border: 2px ridge #bbb;
    border-radius: 20px;
    z-index: 5;
    padding: 20px;
    position: absolute;
    left: 35%;
    top: -8%;
    max-height: 128%;
    overflow-y: scroll;
}
.notcool{
    filter: grayscale(1) brightness(0.5)
}
.gigacool{
    border-color:gold!important;
}
.boosts{
    display: flex;
    background-color: rgba(20,20,20,0.9);
    box-shadow: black 10px 10px 10px;
    border: 2px ridge #bbb;
    padding-left: 20px;
    border-radius: 20px;
    padding: 7px;
      padding-left: 7px;
    position: relative;
    top: -16px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tooltip {
    z-index: 8;
    background-color: rgba(20,20,20,0.9);
    box-shadow: black 10px 10px 10px;
    font-size:15px;
    font-family: 'font';
    margin:0;
    border-radius:20px;
    padding:10px;
}
.nomNp{
    font-size: 140px;
position: absolute;
left: 26%;
top: 2%;
width: 70%;
text-align: center;
color: #806000;
text-shadow: 4px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
left: 15%;
opacity: 0.7;
}
.classduel .npUsed
{
    filter:drop-shadow(00px 00px 8px red)!important;
}
.datapvm{
    position:absolute;
    top: 150px;
    left: 50px;
    width:93%;
}
.datapvm div{
    display:flex;
    justify-content: space-between;
}
.datapvm p{
    color:white;
    font-size: 50px;
    text-shadow: 4px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.persopvm p{
    color:#900000;
    text-shadow: 0px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}