@font-face {
    font-family: 'font2';
    src: url('./assets/fonts/Ancient Medium.ttf');
  }

  @font-face {
    font-family: 'font3';
    src: url('./assets/fonts/Kastellar Wd Regular.ttf');
  }

  @font-face {
    font-family: 'font';
    src: url('./assets/fonts/Algerian Regular.ttf');
  }

  * {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
body{
    background-color: black;
    margin:0;
}

  p{
    font-family: 'font';
    margin:0;
    color:#aa2020;
    font-size: 20px;
    text-shadow: 4px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }

.boosted1 div{
    position: absolute;
    bottom: 50px;
    max-width: 330px;
    left:10px;
}

div .boosted2{
    position: absolute;
    bottom: 32px;
    max-width: 330px;
    left:8px;
}

div .row5
{
    bottom: 12px;
}

.boosted2 p{
    line-height:13px;
    font-size:16px;
    display:none;
}

.boosted1 p{
    font-size: 65px;
    line-height:45px;
}

.right div{
    right:15px;
}

.left div p{
    text-align: left;
}
.right div p{
    text-align: right;
}

.summon:hover{
    cursor:pointer;
    filter: brightness(140%);
}

.footer img:hover{
    cursor:pointer;
    opacity:0.5;
}

.header div, .score{
    width: 200px;
height: 40px;
border: 2px solid #bbb;
background-color: rgba(20,20,20,0.5);
border-radius: 20px;
margin-top: 20px;
text-align: center;
position: relative;
box-shadow: black -9px 8px 15px;
}

.header div p, .score .sc{
    font-size: 35px;
top: -4px;
position: relative;
color: white;
text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.header div img, .score img{
    height: 70px;
left: -25px;
position: absolute;
top: -15px;
}

.recap img{
    height:200px;
}

.connform{
    padding: 50px 0px;
background-color: rgba(20,20,20,0.9);
border: 3px ridge #bbb;
border-radius: 20px;
box-shadow: black 10px 10px 10px;
display:flex;
justify-content: center;
width:550px;
}

.connform p{
color: white;
text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
margin-bottom:3px;
}

input{
    background-color: #404040;
border: 3px ridge #bbb;
border-radius: 20px;
padding: 5px;
width: 100%;
text-align: center;
color: white;
box-shadow: black 10px 10px 10px;
margin-bottom:10px;
}


button{
    background-color: #404040;
border: 3px ridge #bbb;
border-radius: 20px;
padding: 5px;
width: 100px;
text-align: center;
color: white;
box-shadow: black 10px 10px 10px;
margin-top:10px;
}

button:hover{
    cursor:pointer;
    opacity:0.5;
}

.disabled{
    filter: grayscale(1);
    pointer-events: none;
}

.disabledButton{
    opacity:0.2;
    pointer-events: none;
}

.options{
    position: absolute;
width: 160px;
background-color: rgba(20,20,20,0.9);
box-shadow: black 10px 10px 10px;
border: 3px ridge #bbb;
z-index: 2;
left: -3px;
padding-left: 20px;
padding: 20px;
overflow:hidden;
top: -25px;
}

.options p{
    color:white;
    text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.options p:hover{
    cursor:pointer;
    opacity:0.5;
}

.red{
    color:#aa2020 !important;
}

.tab2{
    position: relative;
    display: flex;
    max-width: 84%;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre;
    flex-flow: wrap;
    max-height: 545px;
    left: 200px;
    padding: 20px 20px;
}

.tab{
    display: flex;
white-space: pre;
flex-flow: wrap;
}

.containerScore{
    position: absolute;
left: 22%;
top: 180px;
width: 915px;
display: flex;
justify-content: center;
padding: 20px 0px;
background-color: rgba(20,20,20,0.9);
box-shadow: black 10px 10px 10px;
border: 3px ridge #bbb;
max-height: 450px;
overflow-y: auto;
overflow-x: hidden;
}

.nextBann
{
    position: absolute;
z-index: 4;
font-size: 65px;
white-space: nowrap;
left: 380px;
top: -35px;
text-shadow: 4px 0 green, 0 2px green, 2px 0 green, 2px 2px green;
color: white;
}

.clickable:hover
{
    opacity:0.8;
    cursor:pointer;
}

.clickable2:hover
{
    opacity:0.4!important;
    cursor:pointer;
}

.bigCard{
    position: absolute;
z-index: 5;
left: 620px;
top:120px;
}

.golden{
    border: 3px ridge gold !important;
    box-shadow: gold 0px 0px 20px !important;
}

.golden2{
    border: 3px ridge gold !important;
    box-shadow: gold 0px 0px 80px !important;
}

.alreadyPulled{
    box-shadow:red 0px 0px 80px !important;
}

.bigCard .useTitle{
    position: absolute;
width: 98%;
text-align: center;
bottom: -35px;
background-color: rgba(20,20,20,0.9);
box-shadow: black 10px 10px 10px;
border: 3px ridge #bbb;
color: white;
text-shadow: 4px 0 black , 0 2px black , 2px 0 black , 2px 2px black;
}

.grised{
    opacity: 0.6;
    filter: grayscale(100%);
}

.sell{
    width: 200px;
    max-width: 200px;
    min-width: 200px;
height: 590px;
background-color: rgba(20,20,20,0.9);
box-shadow: black 10px 10px 10px;
border: 3px ridge #bbb;
text-align: center;
}

.noClickable:hover{
    cursor:unset!important;
    opacity: 1!important;
}

.creatVente{
    background-color: rgba(20,20,20,0.9);
box-shadow: black 10px 10px 10px;
border: 3px ridge #bbb;
height: 560px;
position: absolute;
z-index: 5;
left: 20px;
width: 1530px;
}

.blocSell{
    background-color: rgba(20,20,20,0.9);
box-shadow: black 10px 10px 10px;
border: 3px ridge #bbb;
width: 210px;
text-align: center;
padding-top: 20px;
margin: 20px;
height:130px;
}

.header .succes{
    position: absolute;
left: -2px;
top: 75px;
z-index: 6;
width: 300px;
height: 500px;
border-radius: unset;
background-color: rgba(20,20,20,0.9);
}

.sellContener p{
    color: white;
    text-shadow: 4px 0 black , 0 2px black , 2px 0 black , 2px 2px black;
}

.header .succes .descSucces p{
    font-size:12px;
}

.header .succes .nostyle{
    width: 55px;
right: 8px;
position: absolute;
bottom: -6px;
border: unset;
background-color: unset;
box-shadow: unset;
}

.nbServ{
    position: absolute;
top: -20px;
font-size: 50px;
z-index: 2;
box-shadow: black 10px 10px 10px;
background-color: rgba(20,20,20,0.9);
border: 3px ridge #bbb;
padding: 0px 30px;
left:20%;
}

.profile{
    height: 632px;
position: absolute;
width: 96%;
top: 94px;
background-color: rgba(20,20,20,0.9);
z-index: 6;
border: 5px ridge #bbb;
padding:30px;
display:flex;
}

.servProfile{
    width: 465px;
border: 3px ridge #202020;
box-shadow: black -9px 8px 15px;
height: 100%;
}

.profileBotServs{
    position: absolute;
    bottom: 0px;
    display: flex;
    height: 220px;
    bottom: 25px;
    left:520px;
}
.profileBotServs img{
    width:155px;
}
.profileBotServs div
{
    box-shadow: black -9px 8px 15px;
    width:155px;
}
.profilePicture{
    width: 80px;
height: 80px;
object-position: 0% 10%;
object-fit: cover;
}
.profile p{
    color:white;
    text-shadow: none;
}
.profile .desc{
    background-color: rgba(20,20,20,0.9);
border: 3px ridge #bbb;
border-radius: 20px;
height: 120px;
margin: 20px 0px;
padding: 20px;
}
.profile .desc2{
    background-color: rgba(20,20,20,0.9);
border: 3px ridge #bbb;
border-radius: 20px;
height: 350px;
width:275px;
margin: 0px;
padding: 20px;
position: absolute;
right:30px;
}
.profilePicture2
{
    position: absolute;
    left: 530px;
    margin-top: 3px;
    width: 50px;
    height: 50px;
    object-position: 0% 10%;
    object-fit: cover;
    border: 2px ridge black;
}
.containerScore .clickable3:hover{
    opacity:0.4;
}
.enhance{
    position: absolute;
left: 325px;
padding:25px;
height: 500px;
background-color: rgba(20,20,20,0.9);
border: 3px ridge #bbb;
border-radius: 20px;
}