@font-face 
{
    font-family: 'font';
    src: url('./assets/fonts/Algerian Regular.ttf');
}

$col20: #202020;
$col20a: #202020ee;
$col50: #505050;
$col50a: #505050ee;
$colbb: #bbbbbb;
$color-someoneTitle:red;
$color-firstTitle:gold;
$color-title:fuchsia;

$colheader: #5080bbee;

* 
{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html
{
    height:100%;
}
body
{
    height:100%;
    background-color: black;
    margin:0;
    overflow:hidden;
}
p
{
    color:$colbb;
    font-family: 'font';
    margin:0;
    font-size: 20px;
    text-align: center;
    height:fit-content;
}
*
{
    z-index: 0;
    height:auto;
    transition: 0.1s;
}
img
{ 
    width:100%;
    height:100%;
}
div
{
    display: flex;
    justify-content: space-evenly;
}
button, input
{
    margin:10px 10px;
    background-color:$col50a;
    border:1px solid $colbb;
    border-radius: 20px;
    padding: 5px 15px;
    box-shadow: black 10px 10px 10px;
    text-align: center;
    color:$colbb;
    width: stretch;
}
button:hover, .clickable:hover, app-cardperso:hover, .footer img:hover, .summons img:hover{
    cursor:pointer;
    transform: scale(1.1);
    z-index: 5;
}
.clickable2:hover
{
    cursor:pointer;
    z-index: 5;
    background-color:$col50;
}

.tinyredtext
{
    color:red;
    font-size:12px;
}
.noflex
{
    display:unset;
}
.background
{
    position: absolute;
}

.bloc, .popup
{
    z-index: 1;
    background-color: $col20a;
    box-shadow: black 10px 10px 10px;
    border:3px ridge $col20;
    border-radius: 20px;
}
.popup div:first-child
{
    width:90%;
    padding:5%;
}
.popup
{
    position: absolute;
}
.tinydiv
{
    top:35%;
    left:35%;
    width:30%;
    max-height:30%;
    overflow-y:auto;
    overflow-x:hidden;
}
.conteneur
{
    position: relative;
    height:100%;
}
.contenu
{
    height: 70%;
}
//HEADER
.header, .footer
{
    border: 3px ridge #bbb;
    background-color:$colheader;
    height:12%;
    box-shadow: white 0px 0px 15px;
}
.footer
{
    height:18%; 
}
.header
{
    justify-content: space-between;
}
.successbtn
{
    width:90px;
    margin:10px;
    height:auto;
}
.header p
{
    top: 25px;
    position: relative;
}
.header .nbSucces{
    position: absolute;
    color: white;
    background-color: red;
    border: 2px solid white;
    border-radius: 20px;
    padding: 3px;
    left: 80px;
    top: 80px;
    z-index: 5;
}
.numberwithimage
{
    position: relative;
}
.numberwithimage img
{
    width: 60px;
    position: absolute;
    left: -20px;
    height: 65px;
    z-index: 1;
    top: 10px;
}
.numberwithimage p
{
    color:white;
    width: 175px;
    border: 3px ridge $colbb;
    background-color: $col20a;
    border-radius: 20px;
}
.pseudotitle
{
    position: relative;
    top: -25px;
}
.header .pseudo
{
    font-size:40px;
    color:white;
}
.success
{
    position:absolute;
}
//FORMATION
.formation
{
    width:100%;
    justify-content: unset;
}
.filters
{
    left: -15px;
    position: relative;
    padding: 0px 25px;
    height: 95%;
    top: 2%;
    overflow-y: scroll;
}
.filters p
{
    font-size:19px;
}
.servants
{
    width: 90%;
    max-height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    white-space: pre;
    flex-flow: wrap;
    padding:40px;
}
.formation input{
    width:15%;
}
.formation div p {
    white-space: nowrap;
}
.red
{
    color: #aa2020;
}
.formation app-cardPerso
{
    height:fit-content;
}
.conteneurServants
{
    width: 86%;
}
//BANNER
.banner
{
    position: relative;
    width:80%;
    height:80%;
    top:10%;
    box-shadow: green 0px 0px 50px;
}
.banner .backbanner
{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}
.bigbannerperso
{
    width:26%;
    z-index: 1;
}
.banner .center
{
    padding:10px;
    width: calc(100% - 23px);
    height: calc(100% - 25px);
}
.zind2
{
    z-index: 2;
}
.centerbanner
{
    width: 48%;
    height: fit-content;
    position: relative;
    top: 20%;
}
.centerbanner app-cardperso
{
    width:10%;
}
.nope
{
    pointer-events: none;
}
.summons
{
    z-index: 1;
    height: 15%;
    position: absolute;
    bottom: -8%;  
}
.summons img
{
    margin: 0% 2%;
}
.nextBannerTime
{
    z-index: 5;
    font-size: 40px;
    color: white;
    text-shadow: 4px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
    position: absolute;
    top: -10px;
}
.header .cagnotte
{
    font-size: 14px;
    position: absolute;
    top: 60px;
}
.disabled
{
    pointer-events:none !important;
    color: gray !important;
    opacity: 0.5 !important;
}
.success
{
    width: 300px;
    height: 500px;
    top: 125px;
}
.success .data div
{
    margin:0;
}
.success .data
{
    max-height: 80%;
    overflow-y: scroll;
    display: block;
}
.data p
{
    font-size:12px;
}
.success .data .nom
{
    color:white;
    font-size:18px;
}
//VIDEO
.conteneurVideo
{
    position:relative;
}
.conteneurVideo video
{
    position:relative;
}
.group
{
    max-height:100%;
}
.carteInvoqued
{
    position: absolute;
    top: 7%;
    left: 42%;
}
.back
{
    position: absolute;
    top: 0px;
    width: 103%;
    z-index: 2;
}
//RECAP
.recap
{
    height:fit-content;
    position: relative;
    top:25%;
    width:65%;
}
.recap .persosInvoqued
{
    width:100%;
}
.recap app-cardperso
{
    width:10%;
}
.recap .invoqButtons
{
    position:relative;
    margin-top: 10%;
}
.recap .invoqButtons img
{
    width:20%;
}
.typeselection{
    color: white;
position: relative;
top: 8px;
text-shadow: 0px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
font-size: 25px;
}
//BIGCARD
.bigCard
{
    position: absolute;
    z-index: 9;
    width:100%;
    height:100%;
}
.bigCard
{
    pointer-events:none;
}
.bigCard .conteneur
{
    position: relative;
    height: 540px;
    top: 10%;
}
.bigCard .servant
{
    width: 350px;
    pointer-events:all;
}
.bigCard .bloc
{
    pointer-events: all;
    margin-right:40px;
    padding:25px;
}
.bigCard .bloc .conteneurImg
{
    margin:20px 0px;
    overflow:hidden;
    max-height:50%;
    max-width: 350px;
}
.bigCard .bloc img
{
    background-color: #050505;
    position: relative;
}
.bigCard .bloc button
{
    margin: 2px;
    box-shadow:unset;
}
.grised {
    filter: grayscale(1);
}
.ascs{
    margin:20px 0px;
    height:212px;
}
.ascs img{
    max-width:150px;
}
//FRIENDS
.friends .numberwithimage
{
    top:12px;
    margin-left:20px;
}
.friends .numberwithimage img
{
    width: 35px;
    position: absolute;
    left: -13px;
    height: 35px;
    z-index: 1;
    top: -4px;
}
.friends .numberwithimage p
{
    width:120px;
}
.friends .bloc
{
    padding: 20px;
    top: 5%;
    position: relative;
    max-height: 80%;
    overflow-y: scroll;
    height:fit-content;
    overflow-x: hidden;
}
.friends .place{
    font-size: 34px;
margin-right: 20px;
color: white;
width:20px;
}
.friends p
{
    font-size:15px;
}
.friends .icone
{
    margin: 0px 5px;
}
.friends .date
{
    position: relative;
top: 15px;
margin: 0px 10px;
white-space: nowrap;
}
.friends .headers
{
    position: absolute;
width: 100%;
top: 0px;
justify-content: unset;
color: white;
}
.friends .headers p{
    color:white;
    text-align: left;
}
.friends .headers .classement{
    position: relative;
left: -10px;
z-index: 12;
width: 12%;
}
.friends .headers .quartz{
    position: relative;
left: 95px;
width: 195px;
}
.friends .headers .joueur{
    position: relative;
left: 60px;
}
.friends .nomtitle
{
    min-width:200px;
    width: stretch;
    position: relative;
    top:4px;
}
.friends .nomtitle p
{
    text-align: left;
    color: white;
}
//PROFILE
.histopulls
{
    width: 600px;
max-height: 500px;
left: 20%;
top: 15%;
padding: 25px;
overflow-y: scroll;
}
.croix
{
    color: red;
    border: 1px solid red;
    padding: 0px 5px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: $col50;
}
.profile .bloc
{
    width: 90%;
position: absolute;
height: 60%;
top: 15%;
padding: 25px;
justify-content: unset;
}
.profile .bigserv
{
    width:350px;
    height: auto;
    max-height: 90%;
}
.profile .firsttitle
{
    box-shadow: $color-firstTitle 0px 0px 30px;
    border-color:$color-firstTitle;
}
.profile .title
{
    box-shadow: $color-title 0px 0px 30px;
    border-color:$color-title;
}
.rightprofile
{
    width: 65%;
    position: relative;
    left: 4%;
}
.botservs
{
    width:100%;
}
.botserv
{
    width:10%;
}
.botserv .noservassigned
{
    border: 2px ridge $col20;
}
.botserv *{
    width: 100%;
    background-color: $col50;
    height: 150px;
}
.compo .noservassigned
{
    width: 100%;
    background-color: $col50;
    height: 150px;
    border:1px solid black;
}
.composerv{
    width: 100%;
    background-color: $col50;
    height: fit-content;
}
.profile .nomtitle
{
    position: relative;
    top: -3px;
left: 10px;
max-width: 300px;
}
.profile .topright
{
    height: 70%;
}
.profile .compo
{
    width: 90%;
    justify-content: unset;
    height: fit-content;
    margin: 0px 5%;
}
.profile .droite
{
    width: 90%;
    justify-content: unset;
    height: fit-content;
    margin: 0px 5%;
}
.profile .compo .botserv
{
    width:20%;
}
.profile .nomtitle p
{
    text-align: left;
    color: white;
}
.profile .topinfos
{
    justify-content: unset;
}
.cantClick{
    pointer-events: none!important;
}
.histopulls .grised2
{
    filter: grayscale(1) brightness(0.5);
}
//FOOTER
.footer img
{
    width: 11%;
    height: 80%;
    position: relative;
    top: 8%;
}
//SHOP
.shop .bloc{
    height: 85%;
    top: 3%;
    position: relative;
    padding: 20px;
    margin-right:20px;
}
.shop .numberwithimage img
{
    width:45px;
    height:45px;
    top:-7px;
    left:0px;
}
.shop .propose{
    border-right:1px solid #bbb;
    padding-right:20px;
    height:100%;
    min-width:200px;
}
.shop .price{
    padding-left:20px;
    height:100%;
    min-width:200px;
}
.height93
{
    height:93%;
}
.shop{
    width:100%;
}
.shop .ventes
{
    width: 80%;
overflow-x: scroll;
justify-content: unset;
}
.shop input{
    position: relative;
    top:-8px;
}
//PVM
.pvm
{
    position: absolute;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
}
.pvm .background
{
    min-width: 100%;
    min-height: 100%;
    max-height:150%;
    bottom:0px;
    left:0px;
    width:unset;
    height:unset;
}
.pvm .perso
{
    position: absolute;
    height:fit-content;
    width:auto;
}
.pvm .conteneurperso
{
    position: absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}
.pvm *{
    transition:unset;
}
.bonusQuartz
{
    position: absolute;
    z-index: 99 !important;
    width: 50px;
    height: 50px;
    filter: drop-shadow(0px 0px 6px black) !important;
    pointer-events: all;
    border-radius:100%
}


.options img{
    width:50px;
    height:50px;
}

.optionsbtn
{
    width:90px;
    margin:10px;
    height:auto;
}
.options
{
    width: 300px;
  height: 50px;
  top: 90px;
  position: absolute;
  right: 0px;
  padding: 10px;
}
.active{
    filter:drop-shadow(0px 0px 2px green);
}
.inactive{
    filter:drop-shadow(0px 0px 2px red);
}
.epique
{
    background-color: rgba(50,255,50,0.5);
}
.leg
{
    background-color: rgba(255,255,50,0.5);
}