.container
{
    border:3px ridge #303030;
    position: relative;
    width:100%;
    height:100%;
}
.perso
{
    position: relative;
    width:100%;
    height:100%;
}
.border
{
    position: absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index: 1;
}
.nom
{
    position: absolute;
    bottom: 7%;
    color: white;
    font-size: 35px;
    text-shadow: 4px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    z-index: 2;
    white-space: break-spaces;
}
.classe
{
    position: absolute;
    width: 75px;
    height: 75px;
    bottom: -48px;
    right: -30px;
    z-index: 2;
}
.tiny
{
    height: 75px;
    min-width: 53px;
}
.tiny .nom
{
    font-size:12px;
}
.tiny .classe
{
    top:-30px;
    bottom:unset;
    right:unset;
    width:40px;
    height:40px;
}
.normal
{
    height: 130px;
    width:100px;
}
.normal .nom
{
    font-size:12px;
}
.normal .classe
{
    bottom:-20px;
    right:-15px;
    width:40px;
    height:40px;
}
.video
{
    height:510px;
}
.video p
{
    font-size:30px;
}
.video .classe
{
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 15px;
    right: 100px;
    z-index: 1;
}

$color-someoneTitle:red;
$color-firstTitle:gold;
$color-title:fuchsia;

.someoneTitle.grised:hover .nom {color:darkred;}
.someoneTitle.showTitle.grised .nom{color:darkred;}
.firstTitle:hover .nom {color:gold;}
.firstTitle.showTitle .nom{color:gold;}
.title:hover .nom {color:purple;}
.title.showTitle .nom{color:purple;}

.someoneTitle.showTitle.grised2
{
    box-shadow: $color-someoneTitle 0px 0px 30px;
    border-color:$color-someoneTitle;
}
.someoneTitle.grised2:hover
{
    box-shadow: $color-someoneTitle 0px 0px 30px;
    border-color:$color-someoneTitle;
}
.someoneTitle.showTitle.big.grised
{
    box-shadow: $color-someoneTitle 0px 0px 70px;
}
.someoneTitle.showTitle.big.grised:hover
{
    box-shadow: $color-someoneTitle 0px 0px 70px;
}
.title.showTitle
{
    box-shadow: $color-title 0px 0px 30px;
    border-color:$color-title;
}
.title:hover
{
    box-shadow: $color-title 0px 0px 30px;
    border-color:$color-title;
}
.title.showTitle.big
{
    box-shadow: $color-title 0px 0px 70px;
}
.title.showTitle.big:hover
{
    box-shadow: $color-title 0px 0px 70px;
}
.firstTitle.showTitle
{
    box-shadow: $color-firstTitle 0px 0px 30px;
    border-color:$color-firstTitle;
}
.firstTitle:hover
{
    box-shadow: $color-firstTitle 0px 0px 30px;
    border-color:$color-firstTitle;
}
.firstTitle.showTitle.big
{
    box-shadow: $color-firstTitle 0px 0px 70px;
}
.firstTitle.showTitle.big:hover
{
    box-shadow: $color-firstTitle 0px 0px 70px;
}
.grised * {
    filter: grayscale(1);
}
.qte
{
    position: absolute;
    bottom: -10px;
    z-index: 2;
    color: white;
    background-color: brown;
    border: 1px solid white;
    border-radius: 20px;
    width: 28px;
    font-size: 12px;
    right: 28px;
}
.level
{
    position: absolute;
    bottom: -10px;
    z-index: 2;
    color: white;
    background-color: darkgreen;
    border: 1px solid white;
    border-radius: 20px;
    width: 28px;
    font-size: 12px;
    left: 7px;
}
.big .qte
{
    bottom:-20px;
    width:70px;
    font-size: 30px;
    right:70px;
}
.big .level
{
    bottom:-20px;
    width:70px;
    font-size: 30px;
    left:70px;
}
.tiny .qte{
    right:unset;
    left:-5px;
}
.tiny .level{
    right:-5px;
    left: unset;
}
.grised2 .perso, .grised2 .border, .grised2 .nom
{
    filter:grayscale(1);
    color:white!important;
}
.grised p{
    color:white!important;
}